.liquid-glass-panel {
  position: relative;
  overflow: hidden;

  &__highlight {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &--circle {
    width: 3.5rem;
    height: 3.5rem;
  }

  &--full-height {
    height: 100%;
  }
}
