.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: @space-6;

  @media (min-width: @bp-md) {
    max-width: 70vw;
    padding-inline: @space-12;
  }
}

.page-main {
  pointer-events: auto;
}

.page-content {
  position: relative;
  z-index: @z-content;
}


